<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Tələbəni yenilə </h1>
            <div class = "card-body">
                <form th:action="@{/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">
                    <div class = "form-group">
                        <label> Ad </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Ad daxil edin" required />
                    </div>

                    <div class = "form-group">
                        <label> Soyad </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                placeholder="Soyad daxil edin" required />
                    </div>

                    <div class = "form-group">
                        <label> Elektron poçt </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Elektron poçt daxil edin" required />
                    </div>

                    <div class = "form-group">
                        <label> Qəbul ili </label>
                        <input
                                type = "text"
                                name = "entranceYear"
                                th:field = "*{year}"
                                class = "form-control"
                                placeholder="Qəbul ilini daxil edin" required />
                    </div>

                    <div class="form-group">
                        <label>Fakültə</label>
                        <select name="faculty" class="form-control" id="facultySelect" required>
                            <option value="">Seçim edin</option> <!-- Add a default option -->
                            <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>İxtisas</label>
                        <select name="qualification" class="form-control" id="qualificationSelect" required>
                            <!-- Qualification options will be dynamically populated here -->
                        </select>
                    </div>

                    <script>
                        let facultySelect = document.getElementById('facultySelect');
                        let qualificationSelect = document.getElementById('qualificationSelect');
                        let faculties = [];

                        // Function to update the qualification options based on the selected faculty
                        function updateQualificationOptions() {
                            let facultyId = parseInt(facultySelect.value, 10); // Convert to Long

                            qualificationSelect.innerHTML = '';

                            let selectedFaculty = faculties.find(function (faculty) {
                                return faculty.id === facultyId;
                            });

                            if (selectedFaculty && selectedFaculty.qualifications) {
                                selectedFaculty.qualifications.forEach(function (qualification) {
                                    let option = document.createElement('option');
                                    option.value = qualification.id;
                                    option.text = qualification.name;
                                    qualificationSelect.appendChild(option);
                                });
                            } else {
                                let defaultOption = document.createElement('option');
                                defaultOption.value = '';
                                defaultOption.text = 'Seçim edin';
                                qualificationSelect.appendChild(defaultOption);
                            }
                        }

                        // Fetch the faculties data from the server
                        function fetchFaculties() {
                            let url = 'http://localhost:9022/faculty/all';

                            fetch(url)
                                .then(function (response) {
                                    if (!response.ok) {
                                        throw new Error('Error fetching faculties: ' + response.status);
                                    }
                                    return response.json();
                                })
                                .then(function (data) {
                                    faculties = data;
                                    updateQualificationOptions();
                                })
                                .catch(function (error) {
                                    console.error(error);
                                });
                        }

                        // Call the fetchFaculties function initially
                        fetchFaculties();

                        // Refresh the qualification options whenever the faculty selection changes
                        facultySelect.addEventListener('change', function () {
                            updateQualificationOptions();
                        });
                    </script>

                    <div class="form-group">
                        <label>Tip</label>
                        <select name="educationType" class="form-control" required>
                            <option th:each="type : ${T(sms.student_management_system.entity.enums.EducationType).values()}"
                                    th:value="${type}" th:text="${type.getDisplayName()}"></option>
                        </select>
                    </div>

                    <div class = "form-group">
                        <label>Qrup</label>
                        <input
                                type = "text"
                                name = "group"
                                th:field = "*{groupName}"
                                class = "form-control"
                                placeholder="Qrupu daxil edin" required />
                    </div>
                    <div class = "box-footer">
                        <button type ="submit" class = "btn btn-primary">
                            Təsdiqlə
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>